_legacy_archive/automation_n8n/Website_Events_Listener.json
{
    "name": "Website_Events_Listener",
    "nodes": [
        {
            "parameters": {
                "path": "website-events",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                400,
                300
            ],
            "webhookId": "website-events"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "event_type",
                            "value": "={{ $json.event_name }}"
                        },
                        {
                            "name": "utm_source",
                            "value": "={{ $json.utm_data.utm_source || 'direct' }}"
                        },
                        {
                            "name": "utm_medium",
                            "value": "={{ $json.utm_data.utm_medium || 'none' }}"
                        },
                        {
                            "name": "utm_campaign",
                            "value": "={{ $json.utm_data.utm_campaign || 'none' }}"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $json.user_data.phone || $json.custom_data.phone }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Normalize Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $node[\"Normalize Data\"].json.event_type }}",
                            "value2": "Lead"
                        }
                    ]
                }
            },
            "name": "Is Lead?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                800,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution_api:8080/message/sendText/JorgeMain",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "59164714751"
                        },
                        {
                            "name": "text",
                            "value": "=🚀 *NUEVO LEAD WEB*\n👤 Nombre: {{ $json.name || 'Desconocido' }}\n📞 Teléfono: {{ $json.phone }}\n🔎 Origen: {{ $json.utm_source }}\n📈 Campaña: {{ $json.utm_campaign }}\n🌐 Evento: {{ $json.event_type }}"
                        }
                    ]
                },
                "headers": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "B89599B2-37E4-4DCA-92D3-87F8674C7D69"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Notify Jorge (WhatsApp)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1000,
                200
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Data": {
            "main": [
                [
                    {
                        "node": "Is Lead?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Lead?": {
            "main": [
                [
                    {
                        "node": "Notify Jorge (WhatsApp)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "saveManualExecutions": true
    },
    "active": true
}